#icon {
  width: 100px;
}

.container {
  position: absolute;
  width: 500px;
  overflow-y: visible;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.container-long {
  position: absolute;
  width: 400px;
  overflow-y: visible;
  left: 50%;
  transform: translateX(-50%);
}

.color {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: linear-gradient(to bottom, #a6d90056 0%, #ff445441 100%);
  animation: huerotator 3s infinite alternate;
}

.button {
  border: solid #4b0082;
  color: #4b0082;
  padding: 5px 10px;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
