#icon {
  width: 100px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.color {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #a6d90079 0%, #ff445473 100%);
  opacity: 1;
  animation: huerotator 3s infinite alternate;
}

.button {
  border: solid #4b0082;
  color: #4b0082;
  padding: 5px 10px;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
